:root {
    --main: #141B41;
    --sec: #306BAC;
    --ter: #6F9CEB;
    --quar: #D2C0F5;
    --acc: #F35B04;
}

/* colori di sfondo */
.my-bg-main {
    background-color: var(--main);
}

.my-bg-sec {
    background-color: var(--sec);
}

.my-bg-ter {
    background-color: var(--ter);
}

.my-bg-quar {
    background-color: var(--quar);
}

.my-bg-acc {
    background-color: var(--acc);
}

/* colori dei testi */
.my-text-main {
    color: var(--main);
}

.my-text-sec {
    color: var(--sec);
}

.my-text-ter {
    color: var(--ter);
}

.my-text-quar {
    color: var(--quar);
}

.my-text-acc {
    color: var(--acc);
}

/* colori dei bordi */
.my-border-main {
    border-color: var(--main);
}

.my-border-sec {
    border-color: var(--sec);
}

.my-border-ter {
    border-color: var(--ter);
}

.my-border-quar {
    border-color: var(--quar);
}

.my-border-acc {
    border-color: var(--acc);
}

/* Navbar */

.navbar{
    background-color: #141b41e1 !important;
    backdrop-filter: blur(5px);
    box-shadow:
    0px 0.3px 1.4px rgba(0, 0, 0, 0.045),
    0px 0.8px 3.1px rgba(0, 0, 0, 0.053),
    0px 1.4px 5.3px rgba(0, 0, 0, 0.056),
    0px 2.2px 8.2px rgba(0, 0, 0, 0.058),
    0px 3.3px 12.2px rgba(0, 0, 0, 0.06),
    0px 4.9px 17.9px rgba(0, 0, 0, 0.063),
    0px 7.4px 26.8px rgba(0, 0, 0, 0.068),
    0px 11.5px 42.7px rgba(0, 0, 0, 0.08),
    0px 18px 80px rgba(0, 0, 0, 0.12)
  ;


}

/* WELCOME */

.articles-home{
    background-image:linear-gradient(#141b41c2, #141b41c2), url("https://images.unsplash.com/photo-1588609460031-22705bc49db0?q=80&w=2664&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 50vh;
    margin-top: 1rem;
    transition: 0.5s !important;
    
}

.articles-home:hover{
    z-index: 99;
    transform: scale(1.01) !important;
    transition: 0.5s !important;
    box-shadow:
    2.8px 4.2px 2.7px rgba(0, 0, 0, 0.081),
    6.3px 9.3px 6.9px rgba(0, 0, 0, 0.089),
    10.8px 15.8px 13.2px rgba(0, 0, 0, 0.09),
    16.6px 24.4px 22.2px rgba(0, 0, 0, 0.089),
    24.6px 36.2px 34.8px rgba(0, 0, 0, 0.087),
    36.2px 53.2px 52.4px rgba(0, 0, 0, 0.083),
    54.2px 79.7px 76.1px rgba(0, 0, 0, 0.079),
    86.4px 127px 102.9px rgba(0, 0, 0, 0.075),
    162px 238px 124px rgba(0, 0, 0, 0.07) !important;
}

.container-vetro{
    
    text-align: center;
    background-color: #306cac46;
    box-shadow: 0rem 0 1rem #000000c4;
    border-radius: 10px;
    backdrop-filter: blur(5px);
    height: 10rem;
    color: white;
    transition: 0.5s;
}

.container-vetro:hover{
    background-color: #6f9ceb86;
    color: black;
    transition: 0.5s;
}

.btn-info-custom{
    transition: 0.5s;
}
.btn-info-custom:hover{
    background-color: #e5d8ff !important;
    transform: translateY(-3px);
    box-shadow: 0px 5px 10px var(--main);
    transition: 0.5s;
}

/* FINE WELCOME */








/* media query */

/* FINE WELCOME */


/* OFF CANVAS */

.offcanvas{
    background-color: #141b417e;
    backdrop-filter: blur(5px);
    width: 25%;
}





@media screen and (max-width: 700px) {

    /* WELCOME */
    .articles-home{
        min-height: 20vh;
    }
    
    .container-vetro{
        height: 5rem;
    }

    .container-vetro h3{
        font-size: 0.8rem;
    }

    .preview-last-articles h3{
        font-size: 0.8rem;
    }

    .preview-last-articles .btn{
        font-size: 0.6rem;
    }

    .offcanvas{
        width: 75% !important;
    }
    
}