:root {
    --main: #141B41;
    --sec: #306BAC;
    --ter: #6F9CEB;
    --quar: #D2C0F5;
    --acc: #F35B04;
}

@font-face {
    font-family: 'Noto Sans';
    src: url('/storage/app/public/fonts/notoSans/NotoSans-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Noto Sans Bold';
    src: url( '/storage/app/public/fonts/notoSans/NotoSans-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('/storage/app/public/fonts/montserrat/Montserrat-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat Bold';
    src: url('/storage/app/public/fonts/montserrat/Montserrat-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

/* fonts*/



span, p, a {
    font-family: 'Noto Sans', sans-serif;
}

.noto-bold {
    font-family: 'Noto Sans Bold', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
}

.montserrat-bold {
    font-family: 'Montserrat Bold', sans-serif;
}



/* colori di sfondo */
.my-bg-main {
    background-color: var(--main) !important;
}

.my-bg-sec {
    background-color: var(--sec) !important;
}

.my-bg-ter {
    background-color: var(--ter) !important;
}

.my-bg-quar {
    background-color: var(--quar) !important;
}

.my-bg-acc {
    background-color: var(--acc) !important;
}

/* colori dei testi */
.my-text-main {
    color: var(--main) !important;
}

.my-text-sec {
    color: var(--sec) !important;
}

.my-text-ter {
    color: var(--ter) !important;
}

.my-text-quar {
    color: var(--quar) !important;;
}

.my-text-acc {
    color: var(--acc) !important;
}

/* colori dei bordi */
.my-border-main {
    border: 1px solid var(--main) !important;
}

.my-border-sec {
    border: 1px solid var(--sec) !important;
}

.my-border-ter {
    border: 1px solid var(--ter) !important;
}

.my-border-quar {
    border: 1px solid var(--quar) !important;
}

.my-border-acc {
    border: 1px solid var(--acc) !important;
}




main{
    min-height: 70vh;
}
/* Navbar */

.navbar {
    background-color: #141b41e1 !important;
    backdrop-filter: blur(5px);
    box-shadow:
        0px 0.3px 1.4px rgba(0, 0, 0, 0.045),
        0px 0.8px 3.1px rgba(0, 0, 0, 0.053),
        0px 1.4px 5.3px rgba(0, 0, 0, 0.056),
        0px 2.2px 8.2px rgba(0, 0, 0, 0.058),
        0px 3.3px 12.2px rgba(0, 0, 0, 0.06),
        0px 4.9px 17.9px rgba(0, 0, 0, 0.063),
        0px 7.4px 26.8px rgba(0, 0, 0, 0.068),
        0px 11.5px 42.7px rgba(0, 0, 0, 0.08),
        0px 18px 80px rgba(0, 0, 0, 0.12);
}

/* .container-lang{
    position: absolute;
    top: 8px;
    right: 60px;
} */

.btn-flag{
    transition: 0.5s !important;
}

.btn-flag:hover{
    transform: scale(1.1) !important;
    transition: 0.5s !important;
}


.categorie-navbar:hover{
    background-color: var(--quar) !important;
    color: var(--main) !important;
}

.link-navbar:hover {
    color: var(--quar) !important;
}


.search-bar-nav {
    min-width: 200% !important;
    height: 37px;
    /* margin-left: 300%; */
}

.navbar-brand img {
    width: 150px;
}

.notifica-revisore {
    position: absolute;
    z-index: 100;
    top: 22px;
    right: -5px;
}


/* WELCOME */
.header-custom {
    background-image: url(/public/storage/img/header-bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 70vh;
}

.articles-home {
    
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 30vh;
    margin-top: 1rem;
    transition: 0.5s !important;

}

.articles-home:hover, .card-custom:hover {
    z-index: 99;
    transform: scale(1.01) !important;
    transition: 0.5s !important;
    box-shadow:
        2.8px 4.2px 2.7px rgba(0, 0, 0, 0.081),
        6.3px 9.3px 6.9px rgba(0, 0, 0, 0.089),
        10.8px 15.8px 13.2px rgba(0, 0, 0, 0.09),
        16.6px 24.4px 22.2px rgba(0, 0, 0, 0.089),
        24.6px 36.2px 34.8px rgba(0, 0, 0, 0.087),
        36.2px 53.2px 52.4px rgba(0, 0, 0, 0.083),
        54.2px 79.7px 76.1px rgba(0, 0, 0, 0.079),
        86.4px 127px 102.9px rgba(0, 0, 0, 0.075),
        162px 238px 124px rgba(0, 0, 0, 0.07) !important;
}

.container-vetro {
    text-align: center;
    background-color: #306cac46;
    box-shadow: 0rem 0 1rem #000000c4;
    border-radius: 10px;
    backdrop-filter: blur(5px);
    height: 10rem;
    color: white;
    transition: 0.5s;
}

.container-vetro:hover {
    background-color: #6f9ceb86;
    color: black;
    transition: 0.5s;
}

.btn-info-custom {
    transition: 0.5s;
}

.btn-info-custom:hover {
    background-color: #e5d8ff !important;
    transform: translateY(-3px);
    box-shadow: 0px 5px 10px var(--main);
    transition: 0.5s;
}



.btn-info-header-custom {
    transition: 0.5s;
    padding: 4rem 2rem;
    font-size: 3rem;
    margin-right: 3rem;
}

.btn-info-header-custom:hover {
    background-color: #e5d8ff !important;
    transform: translateY(-3px);
    box-shadow: 0px 5px 10px var(--main);
    transition: 0.5s;
}

.testo-scorrevole {
    overflow: hidden;
    white-space: nowrap;
    box-sizing: border-box;
}

.testo-scorrevole span {
    display: inline-block;
    padding-left: 100%;
    animation: scorrevole 20s linear infinite;
}

@keyframes scorrevole {
    0% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(-100%);
    }
}



/* FINE WELCOME */

/* INDEX */

.card {
    width: auto;
}

.card-container-custom {
    width: 300px;
    height: auto;
}

.card-custom{
    transition: 0.5s;
}

.card-image-custom {
    height: 183px;
    width: 300px;
}

.revisor-image-custom {
    
    width: 300px;
}

/* FINE INDEX */


/* ICONA  */
.icon-heart{
    position: absolute;
    top:10px;
    left: 90%;
    font-size: 2rem;   
    z-index: 100;
    opacity: 0.5;
    
}









/* OFFCANVAS */

.offcanvas {
    background-color: #141b417e;
    backdrop-filter: blur(5px);
    width: 25%;
}

.input-custom::placeholder {
    color: #fff;
}

.input-custom {
    width: 200px;

    border: none;
    outline: none;
    padding: 0px 7px;
    border-radius: 6px;
    color: #fff;
    font-size: 15px;
    background-color: var(--ter);
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 1),
        -1px -1px 6px rgba(255, 255, 255, 0.4);
    transition: 0.3s;
}

.input-custom:focus {
    transition: 0.3s;
    border: 4px solid var(--ter);
    color: #fff;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 1),
        -1px -1px 6px rgba(255, 255, 255, 0.4),
        inset 3px 3px 10px rgba(0, 0, 0, 1),
        inset -1px -1px 6px rgba(255, 255, 255, 0.4);

    background-color: var(--ter);
}

.btn-accordion-custom:focus,
.btn-accordion-custom:not(.collapsed) {
    background-color: var(--sec) !important;
    border: var(--main) !important;
}

.btn-accordion-custom::after {
    display: none !important;
    transition: 0.5s;
}

.btn-offcanvas-logged:hover {
    background-color: var(--sec) !important;
    transition: 0.5s;
}

.notifica-revisore-offcanvas {
    position: absolute;
    z-index: 100;
    top: 148px;
    right: 15px;
}

/* FINE OFFCANVAS */


/* paginator */

.pagination-custom {
    margin-left: 1rem !important;
    border-radius: 20%;
    border: none;
    background-color: transparent !important;
}

.pagination-custom:focus,
.pagination-current-custom {
    box-shadow: 0px 5px 10px rgb(62, 62, 62) !important;
    border-radius: 20% !important;
    background-color: var(--acc) !important;

}

.container-pagination {
    /* background-color: var(--quar); */
    border-radius: 10px;
    align-items: center;

}

.pagination-current-custom {
    margin-left: 1rem !important;
    border: none !important;
    box-shadow: 0px 5px 10px rgb(62, 62, 62) !important;
}

/* FINE PAGINATOR */

/* FORM ARTICOLO */
.select-custom:checked {
    background-color: var(--quar) !important;
}

.row-create-article {
    background-color: #141b41d2;
    backdrop-filter: blur(5px);
    border-radius: 10px;
    box-shadow:
        0.9px 0.5px 1.4px rgba(0, 0, 0, 0.061),
        2px 1.2px 3.1px rgba(0, 0, 0, 0.1),
        3.4px 2.1px 5.3px rgba(0, 0, 0, 0.119),
        5.2px 3.2px 8.2px rgba(0, 0, 0, 0.125),
        7.8px 4.7px 12.2px rgba(0, 0, 0, 0.129),
        11.4px 6.9px 17.9px rgba(0, 0, 0, 0.134),
        17.1px 10.4px 26.8px rgba(0, 0, 0, 0.142),
        27.2px 16.5px 42.7px rgba(0, 0, 0, 0.154),
        51px 31px 80px rgba(0, 0, 0, 0.17);
}


.container-create-article {
    background-image: url("https://images.unsplash.com/photo-1588609460031-22705bc49db0?q=80&w=2664&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 75vh;
}

.img-preview{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 120px;
    width: 120px;
}

.btn-elimina-img{
    height: fit-content;
}

/* FINE FORM ARTICOLO */


/* media query */

@media screen and (max-width: 700px) {

    /* NAVBAR */
    .navbar-brand img {
        width: 100px;
    }

    .search-bar-nav {
        min-width: 85% !important;
        margin-left: 0px;
    }

    .user-btn {
        position: absolute;
        top: 8px;
        right: 80px;
    }

    .notifica-revisore {
        position: absolute;
        z-index: 100;
        top: 12px;
        right: 75px;
    }

    .container-lang{
        position: absolute;
        top: 80px;
        right: 5px;
    }



    /* FINE NAVBAR */

    /* WELCOME */

    .header-custom {
        background-image: url(/public/storage/img/header-bg.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        height: 25vh;
    }

    .wrapper-btn-info-header-custom {
        margin-right: 0rem;
        padding-right: 0rem;
    }

    .btn-info-header-custom {
        transition: 0.5s;
        font-size: 1rem;
        padding: 0.5rem;
        margin-right: 0rem;
    }

    .articles-home {
        min-height: 20vh;
    }

    .container-vetro {
        height: 5rem;
    }

    .container-vetro h3 {
        font-size: 0.8rem;
    }

    .preview-last-articles h3 {
        font-size: 0.8rem;
    }

    .preview-last-articles .btn {
        font-size: 0.6rem;
    }

    .testo-scorrevole span {
        display: inline-block;
        padding-left: 100%;
        animation: scorrevole 10s linear infinite;
    }

    /* FINE WELCOME */

    /* OFFCANVAS */

    .offcanvas {
        width: 75% !important;
    }

    /* FINE OFFCANVAS */

    /* INDEX */
    .card-container-custom {
        width: auto;
        height: auto;
    }

    /* ICONA */
    .icon-heart{
        position: absolute;
        top:10px;
        left: 85%;
        font-size: 2rem;   
        z-index: 100;
        opacity: 0.5;
        
    }
}